/* whites */
/* greys and blacks */
/* colors */
/* Media Query Breakpoints */
.toolbar {
  background: #c4c4c4;
  height: 48px;
  font-weight: normal;
}

.toolbar__title {
  font-size: 16px;
  margin-right: 2rem;
}

.toolbar__sort {
  font-size: 16px;
  color: #0061ad;
}

.toolbar__search-icon {
  display: inline;
}

.toolbar__mobile {
  background: #c4c4c4;
  height: 36px;
  font-weight: normal;
  display: none;
  padding: 0 5px;
}

@media (max-width: 980px) {
  .toolbar__mobile {
    display: block;
  }
}

.break {
  width: 25px;
  height: 0px;
  left: 400px;
  top: 68px;
  border: 1px solid #868686;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.spacer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.search {
  height: 30px;
  width: 200px;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 10px;
  position: relative;
  background: #fff;
  border: #303030 1px solid;
}

.search__input {
  border: none;
  height: 25px;
  width: 150px;
  color: #1b1b1b;
  font-size: 15px;
  outline: none;
}

.search__input:not(:placeholder-shown) + .search__label {
  display: none;
}

.search__input:focus ~ .search__highlight {
  width: 150px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.search__label {
  color: #aaaaaa;
  position: absolute;
  top: 0;
  pointer-events: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.search__btn {
  background: #c4c4c4;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  height: 30px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  right: 0;
  position: absolute;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.search__btn:hover {
  background: #dedede;
}

.search__highlight {
  width: 0px;
  height: 1px;
  background: #4279a3;
  position: absolute;
  bottom: 1px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

@media (max-width: 980px) {
  .search {
    display: none;
  }
}

.search__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0;
}

.filter {
  display: none;
  border: 1px solid #303030;
  border-radius: 5px;
  padding: 0 10px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 21px;
}

@media (max-width: 980px) {
  .filter {
    display: block;
  }
}

.main__workouts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
}

@media (max-width: 980px) {
  .main__workouts--filter {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 56;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.95);
  }
}

@media (max-width: 980px) {
  .main__workouts {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}
