@import "../../../sass/variables";

.sidenav {
  &__expansion {
    &--title {
      font-size: 1.6rem;
      color: $color-white;
      position: relative;
      font-weight: normal;
    }
    &--panel {
      cursor: pointer;
      box-shadow: none;
      border-radius: 0;
      color: $color-white;
      border-bottom: 0.1rem solid $color-border-grey;
      background: $color-dark-grey;

      border-left: 0.4rem solid transparent;

      &:hover {
        background: $color-black;
      }
      &-active {
        background: $color-black;
        border-left: solid 0.4rem red;
        position: relative;
      }
    }

    &--header {
      padding: 1.6rem;
    }

    &--list {
      list-style-type: none;
      padding-left: 0.5rem;
      margin-top: -3rem;
      li {
        padding-left: 0;
        padding-top: 1rem;

        &:last-child {
          margin-bottom: -1rem;
        }
      }
    }

    &--link {
      text-decoration: none;
      color: darken($color-white, 20%);
      font-size: 1.6rem;

      &:hover {
        color: darken($color-dark-white, 20%);
      }
    }
  }
}
.wrapper {
  height: calc(100% - 5.6rem);
  position: relative;
}
.logout {
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;

  &-link {
    text-decoration: none;
    color: lighten($color-primary-blue, 10%);

    &:hover {
      color: lighten($color-primary-blue, 20%);
    }

    &-icon {
      vertical-align: -25%;
      height: 1.4rem;
    }
  }
}

::ng-deep .sidenav__expansion--header > .mat-expansion-indicator:after {
  color: $color-dark-white;
}
.mat-expansion-panel-body {
  padding: 0 !important;
}
