$color-primary-blue: #0061ad;

$color-border-grey: #444444;

/* whites */
$color-white: #ffffff;
$color-dark-white: #c1c1c1;

/* greys and blacks */
$color-grey: #303030;
$color-light-grey: #c4c4c4;
$color-dark-grey: #1f1f1f;
$color-black: #0c0c0c;

/* colors */
$color-red: #ad0000;
