
$color-primary-blue: #0061AD;


/* whites */
$color-white: #ffffff;
$color-light-white: #c1c1c1;

/* greys and blacks */
$color-grey: #303030;
$color-light-grey: #c4c4c4;
$color-dark-grey: #1f1f1f;
$color-black: #0c0c0c;

/* colors */
$color-red: #AD0000;