<form
  [formGroup]='filterForm'
  (ngSubmit)="onSubmit()"
>
  <h4>Phase</h4>
  <div
    formGroupName="phaseCheckboxes"
    class="checkbox"
  >
    <span *ngFor="let checkbox of filterForm.get('phaseCheckboxes').value | keyvalue">
      <mat-checkbox
        color="warn"
        type="checkbox"
        [formControlName]="checkbox.key"
        [value]="checkbox.value"
      >
        {{ checkbox.key }}
      </mat-checkbox>
    </span>
  </div>

  <h4>Specialty</h4>
  <div
    formGroupName="specialtyCheckboxes"
    class="checkbox"
  >
    <span *ngFor="let checkbox of filterForm.get('specialtyCheckboxes').value | keyvalue">
      <mat-checkbox
        color="warn"
        type="checkbox"
        [formControlName]="checkbox.key"
        [value]="checkbox.value"
      >
        {{ checkbox.key }}
      </mat-checkbox>
    </span>
  </div>
  <button type="submit">Apply</button>
</form>

<!-- PHASES -->
<!-- Base 1
Base 2
Base 3
Build 1
Build 2
Recovery
Peak
Race
Testing -->

<!-- SPECIALTIES -->
<!-- Rolling Road Race
Climbing Road Race
Cyclocross
Gravel
Time Trial
Cross Country MTB -->

<!-- DURATION -->
<!-- Less than 30min
30 &mdash; 60min
60 &mdash; 90min
90min &mdash; 2hrs
2 &mdash; 3hrs
3hrs +  -->


<!-- TYPE -->
<!-- Anaerobic
Aerobic / Endurance
Power
Sweet Spot
Strength
Technique
Testing
Tempo
Threshold -->


<!-- ZWIFT? -->
<!-- Yes 
No -->