<div class="checkbox checkbox__phase">
  <mat-checkbox color="warn">Base 1</mat-checkbox>
  <mat-checkbox color="warn">Base 2</mat-checkbox>
  <mat-checkbox color="warn">Base 3</mat-checkbox>
  <mat-checkbox color="warn">Build 1</mat-checkbox>
  <mat-checkbox color="warn">Build 2</mat-checkbox>
  <mat-checkbox color="warn">Recovery</mat-checkbox>
  <mat-checkbox color="warn">Peak</mat-checkbox>
  <mat-checkbox color="warn">Race</mat-checkbox>
  <mat-checkbox color="warn">Testing</mat-checkbox>
</div>
<div class="checkbox checkbox__specialty">
  <mat-checkbox color="warn">Rolling Road Race</mat-checkbox>
  <mat-checkbox color="warn">Climbing Road Race</mat-checkbox>
  <mat-checkbox color="warn">Cyclocross</mat-checkbox>
  <mat-checkbox color="warn">Gravel</mat-checkbox>
  <mat-checkbox color="warn">Time Trial</mat-checkbox>
  <mat-checkbox color="warn">Cross Country MTB</mat-checkbox>
</div>

<div class="checkbox checkbox__duration">
  <mat-checkbox color="warn">Less than 30min</mat-checkbox>
  <mat-checkbox color="warn">30 &mdash; 60min</mat-checkbox>
  <mat-checkbox color="warn">60 &mdash; 90min</mat-checkbox>
  <mat-checkbox color="warn">90min &mdash; 2hrs</mat-checkbox>
  <mat-checkbox color="warn">2 &mdash; 3hrs</mat-checkbox>
  <mat-checkbox color="warn">3hrs + </mat-checkbox>
</div>

<div class="checkbox checkbox__type">
  <mat-checkbox color="warn">Anaerobic</mat-checkbox>
  <mat-checkbox color="warn">Aerobic / Endurance</mat-checkbox>
  <mat-checkbox color="warn">Power</mat-checkbox>
  <mat-checkbox color="warn">Sweet Spot</mat-checkbox>
  <mat-checkbox color="warn">Strength</mat-checkbox>
  <mat-checkbox color="warn">Technique</mat-checkbox>
  <mat-checkbox color="warn">Testing</mat-checkbox>
  <mat-checkbox color="warn">Tempo</mat-checkbox>
  <mat-checkbox color="warn">Threshold</mat-checkbox>
</div>

<div class="checkbox checkbox__zwift">
  <mat-checkbox color="warn">Yes</mat-checkbox>
  <mat-checkbox color="warn">No</mat-checkbox>
</div>