@import "../../../../sass/variables";

.back-btn {
  display: block;
  position: fixed;
  top: 56px;
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: underline;
  color: $color-primary-dark-blue;
  z-index: 1;
  border-bottom-right-radius: 3px;

  background: transparentize($color-light-grey, 0.05);
}
img {
  position: relative;
  width: 100%;
  height: 300px;
}
.heading__wrapper {
  position: relative;
  margin-left: 5px;

  &-button {
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;

    @media (max-width: $breakpoint-mobile) {
      float: none;
      position: relative;
    }
  }
}

.manage-btn {
  padding-left: 5px;
  background: #dfdfdf;

  @media (max-width: $breakpoint-mobile) {
    background: none;
  }
}

.detail {
  border-top: 1px solid $list-dark-grey;
  padding-top: 5px;
  width: 100%;
  display: grid;
  grid-template-columns: 70% 30%;

  grid-template-areas: "grid-left grid-right";

  @media (max-width: $breakpoint-mobile) {
    grid-template-columns: 1fr;
    grid-template-areas: "grid-left" "grid-right";
  }

  &__container {
    &--heading {
      display: inline-block;

      font-size: 35px;
      margin: 5px 5px;
      @media (max-width: $breakpoint-mobile) {
        margin-left: 5px;
      }
    }
    &--sub-heading {
      color: #7e7e7e;
      font-weight: normal;
      margin: 5px 5px;
      padding: 0;
      @media (max-width: $breakpoint-mobile) {
        margin-left: 5px;
      }
    }
    &--secondary-heading {
      margin: 10px 0;
      padding: 0;
      font-weight: 500;
      display: none;
      @media (max-width: $breakpoint-mobile) {
        display: none;
      }
    }

    &-right {
      grid-area: grid-right;

      margin: 0 15px;
      // margin-top: 31px;

      @media (max-width: $breakpoint-mobile) {
        margin: 10px 0 0 0;
      }
    }

    &-left {
      grid-area: grid-left;
      margin-left: 10px;

      @media (max-width: $breakpoint-mobile) {
        margin: 0;
      }
      &-description {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        border: solid 1px $list-dark-grey;
        background: $color-white;
        border-radius: 1px;
        border-top: solid 4px $color-primary-light-blue;
        padding: 10px;
        font-size: 16px;

        @media (max-width: $breakpoint-mobile) {
          padding: 5px;
          border-radius: 0px;
          box-shadow: none;
          background: #fafafa;
        }
      }
    }
  }

  &__image {
    width: 100%;
    height: 300px;
  }

  &__list {
    border: solid 1px $list-dark-grey;
    border-top: solid 4px $color-primary-light-blue;
    padding: 15px 10px 10px 10px;
    border-radius: 1px;
    background: $color-white;

    line-height: 22px;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    @media (max-width: $breakpoint-mobile) {
      padding: 5px;
      border-radius: 0px;
      box-shadow: none;
      background: #fafafa;
    }

    &-lh {
      font-weight: 500;
      font-size: 20px;
      padding: 0 0 0 5px;
      margin: 0;
      color: $color-dark-grey;
    }
    &-li {
      font-size: 16px;
      padding-left: 5px;
      list-style: none;
      color: #7e7e7e;
    }
  }
}

ul {
  margin: 0;
  padding-left: 5px;
}
ul li {
  list-style: none;
}

.break {
  width: 25px;
  height: 0px;
  left: 400px;
  top: 68px;

  border: 1px solid #7e7e7e;
  transform: rotate(90deg);
}
