@import "../../../../sass/variables";

.toolbar {
  background: $color-light-grey;
  height: 48px;
  font-weight: normal;

  &__title {
    font-size: 16px;
    margin-right: 2rem;
  }

  &__sort {
    font-size: 16px;
    color: $color-primary-blue;
  }

  &__search {
    &-icon {
      display: inline;
    }
  }

  &__mobile {
    background: $color-light-grey;
    height: 36px;
    font-weight: normal;
    display: none;
    padding: 0 5px;

    @media (max-width: $breakpoint-tablet-port) {
      display: block;
    }
  }
}

.break {
  width: 25px;
  height: 0px;
  left: 400px;
  top: 68px;

  border: 1px solid #868686;
  transform: rotate(90deg);
}

.spacer {
  flex: 1 1 auto;
}

.search {
  height: 30px;
  width: 200px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  padding: 0 0 0 10px;
  position: relative;
  background: #fff;
  border: $color-grey 1px solid;

  &__input {
    border: none;
    height: 25px;
    width: 150px;
    color: #1b1b1b;
    font-size: 15px;
    outline: none;

    &:not(:placeholder-shown) + .search__label {
      display: none;
    }
    &:focus ~ .search__highlight {
      width: 150px;
      transition: all 0.2s ease;
    }
  }

  &__label {
    color: #aaaaaa;
    position: absolute;
    top: 0;
    pointer-events: none;
    transition: all 0.2s ease;
  }

  &__btn {
    background: $color-light-grey;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    height: 30px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    right: 0;
    position: absolute;
    transition: all 0.2s ease;

    &:hover {
      background: lighten($color-light-grey, 10%);
    }
  }

  &__highlight {
    width: 0px;
    height: 1px;
    background: #4279a3;
    position: absolute;
    bottom: 1px;
    transition: all 0.2s ease;
  }

  @media (max-width: $breakpoint-tablet-port) {
    display: none;
  }

  &__mobile {
    display: flex;
    width: 100%;
    padding: 0;
  }
}

.filter {
  display: none;
  border: 1px solid $color-grey;
  border-radius: 5px;
  padding: 0 10px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 21px;

  @media (max-width: $breakpoint-tablet-port) {
    display: block;
  }
}

// Main area grid
.main__workouts {
  display: grid;
  grid-template-columns: 30% 70%;

  &--filter {
    @media (max-width: $breakpoint-tablet-port) {
      display: none;
      height: 100%;
      width: 100%;

      z-index: 1;
      top: 56;
      background-color: rgb(255, 255, 255);
      background-color: rgba(255, 255, 255, 0.95);
    }
  }

  @media (max-width: $breakpoint-tablet-port) {
    grid-template-columns: 100%;
  }
}
