@import "../sass/variables";

.main-sidenav {
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.sidenav {
  margin-top: 56px;
  display: block;
  width: 212px;
  height: 100%;
  position: fixed;
  background: $color-grey;

  /* disable user-select so it doesn't highlight menu text */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
