<!-- form container -->
<div class="form">
  <form [formGroup]="workoutForm" (ngSubmit)="onSubmit()">
    <!-- (ngSubmit)="onSubmit(f)" #f="ngForm" -->

    <!-- form buttons -->
    <div class="form__btns">
      <button
        mat-raised-button
        type="submit"
        class="form__btns--save"> {{ editMode ? 'Update' : 'Save' }} </button>
      <!-- [disabled]="!f.form.valid" -->
      <button
        mat-raised-button
        type="button"
        (click)="onCancel()"
        class="form__btns--cancel">Cancel</button>
    </div>


    <div class="form__group">
      <!-- title -->
      <mat-form-field
        hideRequiredMarker
        appearance="fill"
        class="title">
        <mat-label>Title</mat-label>
        <input autocomplete="off" matInput formControlName="title" name="title" id="title">
      </mat-form-field>

      <!-- phase -->
      <mat-form-field
        hideRequiredMarker
        appearance="fill"
        class="phase">
        <mat-label>Phase</mat-label>
        <mat-select multiple id="phase" name="phase" formControlName="phase">
          <mat-option value="Base 1">Base 1</mat-option>
          <mat-option value="Base 2">Base 2</mat-option>
          <mat-option value="Base 3">Base 3</mat-option>
          <mat-option value="Build 1">Build 1</mat-option>
          <mat-option value="Build 2">Build 2</mat-option>
          <mat-option value="Recovery">Recovery</mat-option>
          <mat-option value="Peak">Peak</mat-option>
          <mat-option value="Race">Race</mat-option>
          <mat-option value="Testing">Testing</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- specialty -->
      <mat-form-field
        hideRequiredMarker
        appearance="fill"
        class="specialty">
        <mat-label>Specialty</mat-label>
        <mat-select multiple formControlName="specialty" name="specialty" id="specialty">
          <mat-option value="Road Race">Road Race</mat-option>
          <mat-option value="Criterium">Criterium</mat-option>
          <mat-option value="Hill Climb">Hill Climb</mat-option>
          <mat-option value="Cyclocross">Cyclocross</mat-option>
          <mat-option value="Gravel">Gravel</mat-option>
          <mat-option value="Timetrial">Time Trial</mat-option>
          <mat-option value="Cross Country MTB">Cross Country MTB</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- type -->
      <mat-form-field
        hideRequiredMarker
        appearance="fill"
        class="type">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type" id="type" name="type">
          <mat-option value="Anaerobic">Anaerobic</mat-option>
          <mat-option value="Aerobic / Endurance">Aerobic / Endurance</mat-option>
          <mat-option value="Muscular Endurance">Musc. Endurance</mat-option>
          <mat-option value="Power">Power</mat-option>
          <mat-option value="Sweet Spot">Sweet Spot</mat-option>
          <mat-option value="Strength">Strength</mat-option>
          <mat-option value="Technique">Technique</mat-option>
          <mat-option value="Tempo">Tempo</mat-option>
          <mat-option value="Threshold">Threshold</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- zwo -->
      <mat-form-field
        hideRequiredMarker
        appearance="fill"
        class="zwo">
        <mat-label>On Zwift?</mat-label>
        <mat-select formControlName="zwo" name="zwo" id="zwo">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- imagePath -->
      <mat-form-field
        hideRequiredMarker
        appearance="fill"
        class="img">
        <mat-label>Image Path</mat-label>
        <input matInput formControlName="imgPath" name="imgPath" id="imgPath" #imgPath>
        <mat-hint align="start">Must be a complete url</mat-hint>
      </mat-form-field>

      <!-- time input -->
      <mat-form-field
        hideRequiredMarker
        appearance="fill"
        class="duration">
        <mat-label>Duration (minutes)</mat-label>
        <input
          type="number"
          matInput
          formControlName="duration"
          name="duration"
          id="duration">
        <mat-hint align="start">Duration must be in minutes</mat-hint>
      </mat-form-field>

      <!-- description -->
      <div
        class="description">
        <angular-editor formControlName="description" name="description" id="description" [config]="config">
        </angular-editor>
      </div>
      <img style="max-height: 300px;" [src]="imgPath.value">

    </div>
  </form>
</div>

<!-- 
title: string,
description: string,
imagePath: string,
type: string,
duration: number,
specialty: string[],
phase: string[],
zwo: boolean 
-->