<div>
  <div>
    <form>
      <div class="form__btns">
        <button
          type="submit"
          class="form__btns--save"
        >Save</button>
        <button
          type="button"
          class="form__btns--cancel"
        >Cancel</button>
      </div>

      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput>
      </mat-form-field>

    </form>
  </div>
</div>

<!-- 
title: string,
description: string,
imagePath: string,
type: string,
duration: number,
specialty: string[],
phase: string[],
zwo: boolean 
-->