@import "../../../../../sass/variables";

.break {
  width: 25px;
  height: 0px;
  left: 400px;
  top: 68px;
  margin: 0 15px;

  border: 1px solid #868686;
  transform: rotate(90deg);
}
a {
  text-decoration: none;
  font-size: 14px;
  color: $color-black;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
}

/* Workout list */
.workout__list {
  width: 900px;
  max-width: 95%;

  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}
/* Workout Items */
.workout__item {
  // width: 900px;
  // max-width: 90%;
  min-height: 253px;

  margin-top: 20px;
  border: 1px solid $color-light-grey;
  border-top: 4px solid $color-dark-grey;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.25s ease-in-out;
  border-radius: 2px;
  display: grid;
  grid-template-columns: 45% 55%;

  position: relative;

  grid-template-areas:
    "img info"
    "notes notes";

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  &--img {
    margin: auto;
    padding: 10px;
    grid-area: img;
    height: 156px;
  }

  &--info {
    grid-area: info;
    margin: 10px;

    position: relative;
  }

  &--title {
    font-size: 26px;
    font-weight: 600;
    margin: 0;

    @media (min-width: $breakpoint-tablet-land) {
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  &--specs {
    border-top: 1px solid $color-light-grey;
    text-align: center;
    width: 100%;
    padding: 15px 0 8px 0;

    color: $color-grey;
    font-weight: bold;

    position: absolute;
    bottom: 0;

    &-heading {
      display: inline;
      padding: 0;
      margin: 0;
      font-weight: 500;
    }

    @media (max-width: $breakpoint-tablet-land) {
      padding: 8px 0;
      position: relative;
    }
  }

  &--notes {
    font-size: 15px;
    grid-area: notes;
    padding: 10px 10px 0 10px;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    -webkit-box-shadow: inset 0px 6px 4px -4px $color-light-grey;
    -moz-box-shadow: inset 0px 6px 4px -4px $color-light-grey;
    box-shadow: inset 0px 6px 4px -4px $color-light-grey;
  }

  &--details {
    padding: 5px 10px;
    background: $list-light-grey;
    border-bottom: 1px solid $color-light-grey;
    border-left: 1px solid $color-light-grey;
    position: absolute;
    right: 0;
    top: 0;
    color: $color-primary-light-blue;
    @media (max-width: $breakpoint-mobile) {
      display: none;
    }
  }

  @media (max-width: $breakpoint-tablet-land) {
    grid-template-columns: 1fr;

    grid-template-areas:
      "img"
      "info"
      "notes";
  }
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  left: -322px;
  top: 2px;

  color: $color-dark-grey;

  position: absolute;
  text-decoration: none;
  background: #ffffff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 3px;
  line-height: 22px;
  z-index: 5;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 10px;
  width: 300px;

  &__title {
    margin: 10px 0;
  }

  &__list {
    border: solid 1px $list-dark-grey;
    border-top: solid 4px $color-primary-light-blue;
    padding: 15px 10px 10px 10px;
    border-radius: 5px;
    background: $color-white;

    &-wrapper {
      border: solid 1px $list-dark-grey;
      background: $list-light-grey;
      padding: 5px;
      border-radius: 3px;
    }

    &-lh {
      font-weight: 500;
      font-size: 15px;
      padding: 0 0 0 5px;
      margin: 0;
      color: $color-dark-grey;
    }
    &-li {
      padding-left: 5px;
      list-style: none;
      color: #7e7e7e;
    }
  }
}
ul {
  margin: 0;
  padding-left: 5px;
}
ul li {
  list-style: none;
}
.detailsActive {
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2 ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;

  @media (max-width: $breakpoint-tablet-land) {
    opacity: 0;
    visibility: hidden;
  }
  @media (min-width: $breakpoint-tablet-land) {
    opacity: 1;
    visibility: visible;
  }
}
