$color-primary-blue: #0061ad;
$color-primary-light-blue: #538fdf;
$color-primary-dark-blue: #00397d;
$color-border-grey: #444444;

/* whites */
$color-white: #ffffff;
$color-dark-white: #c1c1c1;

/* greys and blacks */
$color-grey: #303030;
$color-light-grey: #c4c4c4;
$color-dark-grey: #1f1f1f;
$color-black: #0c0c0c;

$list-dark-grey: #eaeaea;
$list-light-grey: #f5f5f5;
$toolbar-light-grey: #f3f6f9;

/* colors */
$color-red: #ad0000;
$color-green: #28a745;
$color-secondary-grey: #6c757d;

/* Media Query Breakpoints */

$breakpoint-tablet-land: 1024px;
$breakpoint-tablet-port: 980px;
$breakpoint-mobile: 768px;
